$html-font-size: 16px;
$html-font-family: 'Catamaran', sans-serif;
$font-weight-light: 200;
$font-weight-default: 300;
$font-weight-medium: 400;
$font-weight-medium-bold: 500;
$font-weight-bold: 700;
$font-size-small: 14px;
$font-size-big: 22px;
$header-color: #080808;
$main-text-color: #929292;
$mobile-menu-bg: #111;
$mobile-menu-text-color: #a5a5a5;